body {
   color: white;
   background: black;
   margin: 0px;+
   font-family: "Chakra Petch", sans-serif;
   margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(253, 228, 255,);
    padding: 20px;
    font-size: 60px;
    color: hsla(0, 100%, 49%, 1.00);
    font-family: "Anton", sans-serif;
    letter-spacing: 2px;
}

section .chamada {
    background: rgb(0, 0, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    color: rgb(65, 65, 75);